table{
    width: 100%;
    tr{
        width: 100%;
    }
    th, 
    td{
        padding: 1rem;
        border: 1px solid grey;
    }
}

.responsive-table {
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 768px) {
    .responsive-table {
        overflow-x: scroll;
    }
}