<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- Configure the default document -->
        <defaultDocument>
            <files>
                <add value="index.html" />
            </files>
        </defaultDocument>

        <!-- Handle URL rewriting to ensure Angular routes work -->
        <rewrite>
            <rules>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>

        <!-- Serve static files -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".otf" mimeType="application/font-sfnt" />
        </staticContent>

        <!-- Enable HTTP compression -->
        <httpCompression>
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="text/xml" enabled="true" />
                <add mimeType="text/plain" enabled="true" />
                <add mimeType="text/html" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="text/xml" enabled="true" />
                <add mimeType="text/plain" enabled="true" />
                <add mimeType="text/html" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="text/javascript" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
            </staticTypes>
        </httpCompression>

        <!-- Configure HTTP request limits -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="209715200" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
